@import "reset";
@import "mixin";
@import "vars";
//blocks
@import "../components/PrivewCard/PreviwCard", "../components/Reviews/Reviews",
  "../components/Chat/Chat";
html,
body {
  font-family: "KievitPro", Arial, sans-serif;
  background-color: #f9f7f2;
  color: #000;
  font-weight: 400;
  font-feature-settings: "pnum" on, "lnum" on;
}
.container {
  max-width: 910px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.page {
  padding: 134px 0;
}
.block-title {
  color: inherit;
  font-weight: bold;
  @include value("font-size", 20, 29);
}
._fw {
  width: 100%;
  height: auto;
}
